DescTools
FactoMineR
Hmisc
Matrix
NbClust
RcolorBrewer
broom
caret
clValid
class
cluster
colorspace
corrplot
cowplot
data.table
doParallel
dplyr
dummies
e1071
extrafont
fBasics
factoextra
fixest
foreign
fpc
gbm
ggbiplot
ggpattern
ggplot2
ggpmisc
ggpubr
gmodels
grf
hrbrthemes
imputeTS
ivreg
kableExtra
latex2exp
lfe
lubridate
magrittr
maptools
naivebayes
openxlsx
pacman
plyr
randomForest
raster
readstata13
readxl
rgdal
rgeos
R.utils
sf
stats
stringr
tidyverse
tinytable
viridis
zoo
